<div class="meu-plano-container">
  <h2>Meu Plano</h2>
  <div class="meu-plano-grid">
    <div class="cards-esquerda">
        <app-card
            *ngFor="let card of cards"
            [icon]="card.icon"
            [value]="card.value"
            [description]="card.description">
        </app-card>
    </div>

    <div class="card-direita">
      <img src="image-tela-inicial.png" alt="Ilustração cartão" class="ilustracao" />
      <h3>Economize Já: Cadastre seu Cartão!</h3>
      <p>Ganhe desconto na mensalidade ao registrar seu cartão para pagamentos recorrentes</p>
      <button class="btn-cadastrar" (click)="goToAddCard()">Cadastrar cartão</button>
    </div>
  </div>
</div>
